.table-head {
  position: fixed;
  flex: 0 0 auto;

  @media screen and (max-width: 700px) {
    position: static;
    display: block;
    margin-bottom: 20px;
  }

  & .table-row {
    position: fixed;
    background-color: lightgray;

    @media screen and (max-width: 700px) {
      position: static;
    }

    & .table-cell.table-head-cell {
      text-transform: capitalize;

      padding: 10px;
      background-color: lighten(#398b93, 50%);
      color: darken(#398b93, 10%);
      font-weight: 300;

      @media screen and (max-width: 700px) {
        background-color: transparent;
      }
    }
  }
}
